apiVersion: v1
kind: Service
metadata:
  name: plex
  namespace: media
  labels:
    app: plex
  annotations:
    io.cilium/lb-ipam-ips: "192.168.1.241"
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
    - port: 32400
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: plex
