apiVersion: apps/v1
kind: Deployment
metadata:
  name: renovate-redis
  namespace: renovate
  labels:
    app.kubernetes.io/name: renovate-redis
    app.kubernetes.io/part-of: renovate
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: renovate-redis
  template:
    metadata:
      labels:
        app.kubernetes.io/name: renovate-redis
        app.kubernetes.io/part-of: renovate
    spec:
      serviceAccountName: renovate
      securityContext:
        fsGroup: 999
        runAsNonRoot: true
        runAsUser: 999
      containers:
        - name: redis
          image: docker.io/redis:8.6-alpine
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 6379
              name: redis
              protocol: TCP
          args:
            - "--save"
            - ""
            - "--appendonly"
            - "no"
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              memory: 256Mi
          livenessProbe:
            exec:
              command: ["redis-cli", "ping"]
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            exec:
              command: ["redis-cli", "ping"]
            initialDelaySeconds: 5
            periodSeconds: 15
          volumeMounts:
            - name: redis-data
              mountPath: /data
      volumes:
        - name: redis-data
          emptyDir: {}
