---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 30m
  url: https://helm.traefik.io/traefik
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-crds
  namespace: flux-system
spec:
  targetNamespace: traefik
  interval: 30m
  releaseName: traefik-crds
  driftDetection:
    mode: disabled
  chart:
    spec:
      chart: traefik-crds
      sourceRef:
        kind: HelmRepository
        name: traefik
      version: "1.14.0"
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  targetNamespace: traefik
  dependsOn:
    - name: traefik-crds
    - name: cert-manager
  interval: 30m
  releaseName: traefik
  driftDetection:
    mode: disabled
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
      version: "39.0.0"
  values:
    securityContext:
      seccompProfile:
        type: RuntimeDefault
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
    api:
      dashboard: true
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.i.recompiled.org`)
        entryPoints:
          - websecure
        tls:
          secretName: traefik-dashboard-tls
    metrics:
      prometheus:
        addEntryPointsLabels: true
        addRoutersLabels: true
        addServicesLabels: true
        service:
          enabled: true
    service:
      type: LoadBalancer
      annotations:
        io.cilium/lb-ipam-ips: "192.168.1.240"
        prometheus.io/scrape: "true"
        prometheus.io/port: "9100"
        prometheus.io/path: "/metrics"
    resources:
      requests:
        cpu: 100m
        memory: 248Mi
      limits:
        memory: 296Mi
